DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
PORT=3001
API_PORT=3001
WEB_PORT=3000
NODE_ENV=development
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:3001/graphql
INTERNAL_API_URL=http://localhost:3001/graphql
FRONTEND_URL=http://localhost:3000
